[Unit]
Description=Delayed hibernation trigger
Before=hibernate.target
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/bin/sh -c '\
  /bin/systemctl stop nvidia-powersave.timer; \
  /sbin/modprobe nvidia; \
'

ExecStop=-/bin/sh -c '\
  /bin/systemctl start nvidia-powersave.timer; \
'

[Install]
WantedBy=hibernate.target
